.navbar {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 25px;
}

.navbar__brand {
  font-size: 1.5em;
  text-decoration: none;
  color: #fff;
}

.navbar__menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar__item {
  margin: 0 10px;
}

.navbar__item a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  transition: color 0.3s;
}

.navbar__item a:hover {
  color: #ff0303;
}
