.registration-container {
    max-width: 400px;
    margin:30px 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .btn-register {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
  }
  
  .btn-register:hover {
    background-color: #218838;
  }
  
  .login-link {
    margin-top: 10px;
    font-size: 0.9em;
  }
  
  .login-link a {
    text-decoration: none;
    color: #007bff;
  }
  